<mat-card class="example-card">
    <mat-card-header>
      
      
      <mat-card-title>Name of Lead</mat-card-title>
      <mat-card-subtitle>Added By user google name</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content style="margin-left: 3.5%;">
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting. (Description of the Lead)
      </p>
      <br>
      <mat-card-subtitle>Category: </mat-card-subtitle>
      <p>Contact Number: </p>
      <p>Full Address: </p>
    </mat-card-content>
    <mat-icon color="primary" style="margin-left: 3.5%;">calendar_today </mat-icon>
    <br>
    <mat-card-actions style="margin-left: 3%;">
      <br>
      <button mat-raised-button color="accent">VERIFY THIS</button>
      <button mat-raised-button color="accent" style="margin-left: 50px;">SHARE</button>
    </mat-card-actions>
    <p style="margin-left: 5.1%;">Already verified by 5 <mat-icon>person</mat-icon></p>
  </mat-card>