<mat-toolbar color="primary">
  <!--<button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>-->
  <span>Front Leads</span>
  <span class="example-spacer"></span>

  <cool-google-button mat-raised-button color="light">
    Login with Google
  </cool-google-button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<app-lead-card></app-lead-card>

<app-lead-form></app-lead-form>

<router-outlet></router-outlet>
